.git
.github
.vscode
**/node_modules
**/vendor
frontend/dist
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
backend/database/*.sqlite
backend/.env
frontend/.env
presentation
docs/commercial
**/*.md
**/.phpunit.result.cache
**/phpunit.xml
**/.DS_Store
Thumbs.db
*.log
agent-transcripts
